@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto:wght@300;700&display=swap');

:root {
    --light-gray: #f2f2f2;
    --dark-brown: #593202;
    --medium-brown: #A65D03;
    --sunny-orange: #f29d35;
    --light-brown: #d9b88f;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section.section-form{
    height: 100vh;
    width: 100vw;
    background-image: url(/img/crime.jpg);
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-header{
    width: 500px;
    background-color: var(--medium-brown);
    margin: auto;
    color: var(--light-gray);
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

.form-title {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 36px;
}

.form-content{
    background-color: var(--light-gray);
    width: 500px;
    margin: auto;
    padding: 10px 80px 40px;
}

fieldset {
    border: none;
    margin-top: 40px;
}

label.block-field {
    display: block;
}

label.inline-field, label.block-field{
    font-family: 'Montserrat', sans-serif;
}

input.text {
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: 0 0 0 0;
    width: 100%;
    padding: 4px;
}

input {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px var(--light-gray) inset;
}

/* Cor do texto do autocomplete */
input:-webkit-autofill {
    -webkit-text-fill-color: black !important;
}

.line {
    width: 100%;
    background-color: black;
    height: 2px;
}

fieldset.inline-fieldset {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type="radio"] + label{
    margin-left: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

label + input[type=radio]{
    margin-left: 16px;
}

label + input.text {
    margin-top: 4px;
}

select {
    border-radius: 10px;
    background-color: var(--light-gray);
    padding: 2px 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.check-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

label + input[type="checkbox"] {
    margin-left: 6px;
}

.form-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px 20px 0px;
}

form button {
    background-color: var(--medium-brown);
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    color: var(--light-gray);
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}