*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section.section-form{
    height: 100vh;
    width: 100vw;
    background-image: url(/img/crime.jpg);
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
    margin-top: 40px ;
}

.form-header{
    width: 500px;
    background-color: rgb(144, 200, 200);
    margin: auto;
    color: white;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

.form-content{
    background-color: rgba(73, 66, 66, 0.747);
    width: 500px;
    margin: auto;
}

form{
padding: 100px;
}

#nome{
    width: 100%;
    height: 100px;
}


